
    /* Custom Checkbox Styling */
    .custom-checkbox {
        width: 20px;
        height: 20px;
        background-color: #03592c;
        border: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: relative;
        border-radius: 3px;
    }

    .custom-checkbox:checked::before {
        content: '\2713';
        font-size: 16px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


  /* Modal user account Modification CSS */

        .custom-modal {
            max-width: 90%;
        }

        /* Adjust border-radius for the modal */
        .modal-content {
            border-radius: 15px;
            overflow: hidden;
            /* Prevents content from exceeding the rounded corners */
        }

        /* Ensure modal-footer has rounded bottom corners */
        .modal-footer {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        /* Adjust border-radius for input fields */
        .form-control {
            border-radius: 8px;
        }

        /* Adjust border-radius for buttons */
        .btn {
            border-radius: 8px;
        }

/* Modal user account Modification CSS */
    .custom-modal {
        max-width: 90%;
    }

    /* Adjust border-radius for the modal */
    .modal-content {
        border-radius: 15px;
        overflow: hidden;
        /* Prevents content from exceeding the rounded corners */
    }

    /* Ensure modal-footer has rounded bottom corners */
    .modal-footer {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    /* Adjust border-radius for input fields */
    .form-control {
        border-radius: 8px;
    }

    /* Adjust border-radius for buttons */
    .btn {
        border-radius: 8px;
    }
